__pycache__/
*.pyc
*.pyo
*.log

.env
.venv/
env/
venv/

node_modules/
dist/
build/

.DS_Store

sites/
logs/
private/
public/files/

*.sql
*.sqlite
*.db.DS_Store
*.pyc
*.egg-info
*.swp
tags
node_modules
__pycache__
